<div class="container">
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-div" >
  <h1 class="form-head">Add New Flash Card</h1>
  
  <div class="form-input-div">
  <label class="" >Question</label>
  <input type="text"  formControlName="question">
  <ng-container *ngFor="let error of error_messages.question">
    <div class="error-message" *ngIf="
          form.get('question').hasError(error.type) &&
          (form.get('question').dirty ||form.get('question').touched)">
        {{ error.message }}
    </div>
  </ng-container>
 
  </div> 
  
  <div class="form-input-div">
  <label >Answer</label> 
  <input type="text" formControlName="answer">
  <ng-container *ngFor="let error of error_messages.answer">
    <div class="error-message" *ngIf="
          form.get('answer').hasError(error.type) &&
          (form.get('answer').dirty ||form.get('answer').touched)">
        {{ error.message }}
    </div>
</ng-container>
  </div>

  <div class="btn">
  <button class="btn1" mat-button>Submit</button>
  <button class="btn2" mat-button (click)="clear()">Clear</button>
  </div>

</form>

<div class="card-display" *ngFor="let arr of array; let i =index">

<mat-card class="head" [class.active]="arr.status === 1" [class.deactive]="arr.status === 2" >{{arr.question}} <img  (click)="ondropdown(i)" src="./../assets/dropdownicon.png" alt=""></mat-card>
<mat-card class="content" *ngIf="flagdropdown && indexdropdown ==i">{{arr.answer}}
<div class="choice-icons" >
 <img class="correct-icon" (click)="oncorrect(i)" src="./../assets/tick.png" alt="">
 <img class="wrong-icon"(click)="onwrong(i)" src="./../assets/wrong.png" alt="">
 <img class="edit-icon" (click)="onedit(i)" src="./../assets/editicon.png" alt="">
 <img class="delete-icon" (click)="ondelete(i)"  src="./../assets/delete.png" alt="">
</div>
</mat-card>

</div>

 

</div>