
/* form{
    display: flex;
    flex-direction: column;
} */
.form-div{
    margin: 10px 500px;
}
.form-head{
    margin: 20px;
    text-align: center;
}

.form-input-div{
    display: flex;
    flex-direction: column;
}

.form-input-div label{
    font-weight: 600;
    margin: 5px;
}
.form-input-div input{
    height:25px;
}

.error-message {
    color: red;
    font-size: 15px;
    text-align: left;
}
.btn{
    display: flex;
    margin: 10px 0px;
}

.btn button{
    margin: 5px;
}

.btn1{
    background-color: cyan;
    color: white;
}
.btn2{
    color: black;
    border: 1px solid black;
}

.card-display{
    display: inline-block;
    width: 400px;
    margin: 24px;
}

.head{
    height: 25px;
}
.active{
    background-color: green;
}
.deactive{
    background-color: red;
}
.head img{
    width: 30px;
    height: 30px;
    margin-left: 260px;
}
.choice-icons{
    display: flex;
}
.choice-icons img{
    width: 30px;
    height: 30px;
}
.correct-icon{
    margin-top: 50px  ;
    margin-right: 70px;   
}
.wrong-icon{
    margin-top: auto;
    margin-right: 80px;
}
.edit-icon{
    margin-top: auto;
    margin-right: 30px;
}
.delete-icon{
    margin-top: auto;
    margin-left: 40px;
}